
.container {
    width:1400px;
    margin:0 auto;
}
.main-slide {
    margin-top:60px
}
.main-slide img{
    border-radius:20px
}
.col-group {
    display:flex;
}
.sec {
    width:100%;
    padding:50px 0
}
.sec h2 {
    position: relative;
    width: 1400px;
    height: 49px;
    margin: 0 auto;
    margin-bottom:40px;
}
.sec h2 strong {
    position: absolute;
    top: 0;
    left: 0;
    height: 49px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    z-index: 2;
}
.sec h2 span {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 212px;
    height: 20px;
    z-index: 1;
}
.sec h2 .more {
    position: absolute;
    top: 8px;
    right: 0;
    width: 66px;
    height: 32px;
    font-family:'Open Sans';
    font-weight: 400;
    font-size: 12px;
    color: #202020;
    line-height: 36px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 18px;
    background-color: #fff;
}
.sec01 {
    background:#f8f6ea;
}
.sec01 h2 span {
    background-color: #f0eac5;
}
.sec02 {
    background:#eaf5f3;
}
.sec02 h2 span {
    background-color: #d0eae5;
}
.sec03 {
    background:#f3effa;
}
.sec03 h2 span {
    width:185px;
    background-color: #e3d2fc;
}
.sec03 .items {
    flex-wrap:wrap;
}
.sec03 .items .txt-box {
    align-items: flex-start;
}
.sec03 .items .item .name {
    font-size:14px
}
.sec03 .items .item .best {
    display:block;
    font-size:40px;
    margin-right:20px;
    font-style: italic;
}
.banner {
    width:100%; 
    object-fit:contain;
}
.sec04 h2 span {
    width:238px;
    background-color: #d1eaf4;
}
.sec05 h2 span {
    width:238px;
    background-color: #dadaf5;
}
.sec05 .items .img-box {
    height:200px
}
.sec06{
    background:#faefef;
}
.sec06 h2 span {
    width:278px;
    background-color: #f5dada;
}
.sec07{
    background:#f4f4f4;
}
.sec07 h2 span {
    width:208px;
    background-color: #e6e6e6;
}
.sec04 .name {
    gap:40px;
}
.sec04 .name button {
    width:118px;
    height:118px;
    border:0;
}
.sec04 .name .active button {
    content:'';
    border:7px solid red;
    border-radius: 100%;
}
.sec04 .name img {
    width:100%;
    height:100%;
}
.sec04 .name h3 {
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    padding:15px 0;
}
.sec04 .both {
    gap:40px;
    margin-top:60px;
}
.sec04 .left {
    width:590px;
    height:590px;
}
.sec04 .right {
    width:calc(100% - 630px);
    height:590px;
    padding: 35px 70px;
    border-radius:20px; 
    border:1px solid #dbdbdb
}
.sec04 .left img {
    width:100%;
    border-radius:20px;
}
.sec04 .right .profile {
    justify-content: space-between;
    margin-bottom:30px;
}
.sec04 .right .profile img{
    width:56px;
    height:56px;
}
.sec04 .right .profile .txt-box {
    margin-left:10px;
}
.sec04 .right .profile .txt-box p{
    color:#a2a2a2;
}
.sec04 .right .cont-box h4 {
    padding-bottom:20px; 
    font-size:18px;
}
.sec04 .right .cont-box p {
    padding-bottom:10px; 
    color:#666;
}
.sec04 .right .cont-box p span{
    border-bottom:1px solid #dbdbdb;
    color:#3a76e2;
    margin-right:10px
}
.sec04 .right .items {
    margin-top:15px;
    gap:40px
}
.sec04 .right .items .name {
    font-size:14px
}
.sec05 .name {
    margin-bottom:20px
}
.sec05 .name h3{
    font-size:20px;
    color:#b3b3b3
}
.sec05 .name button {
    border:0
}
.sec05 .name .active {
    border:7px solid #b3b3b3;
    border-radius: 20px; 
    padding:5px 20px;
}
.sec05 .name .active h3 {
    color:#000
}
.sec05 .both {
    gap:40px
}
.sec05 .left {
    width:50%
}
.sec05 .right {
    width:50%
}
.sec05 .img-box {
    height:410px;
    margin-bottom: 20px;
}
.sec05 .img-box img {
    width:100%; 
    height:100%;
    border-radius: 20px;
}
.sec05 .txt-box h3 {
    padding-bottom:20px;
    font-size:22px;
} 
.sec05 .txt-box p {
    font-size:16px;
    font-family: 'Open Sans';
    font-weight: 700;
    padding-bottom:20px;
}
.sec05 .items {
    gap:15px;
}
.sec05 .items .item .name {
    font-size:12px;
    padding-bottom:0;
}
.sec05 .items .item .price {
    font-size:14px;
}
.sec05 .items .img-box {
    height: 200px;
} 
.sec07 .items {
    width:100%;
    gap: 30px;
    justify-content: space-between;
}
.sec07 .items .item {
    width:calc(100% / 4 - 22.5px);
    height:500px;
    background:#fff;
    border-radius:20px
}
.sec07 .items .item .img-box {
    height:200px;
    margin-bottom:0;
}
.sec07 .items .item .img-box img{
    height:100%;
    border-radius:20px 20px 0 0
}
.sec07 .items .item .txt-box {
    padding:20px;
}
.sec07 .items .item .txt-box .box {
    height:150px;
}
.sec07 .items .item .txt-box .star {
    width:15px;
    margin-bottom:10px;
}
.sec07 .items .item .txt-box h3 {
    padding-bottom:10px
}
.sec07 .items .item .txt-box p {
    font-size:12px;
    font-family: 'Open Sans';
    padding-bottom:40px;
    width: 100%;
    font-family: 'Open Sans';
    font-weight: normal;
    margin-bottom: 10px;
    color: #202020;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.sec07 .items .item .txt-box span {
    font-size:12px;
    font-family: 'Open Sans';
}
.items .item .mini-item {
    margin-top:20px;
    padding-top:20px;
    align-items:flex-start;
    border-top:1px solid #e5e5e5
}
.items .item .mini-item .left {
    width:70px
}
.items .item .mini-item .txt {
    width:calc(100% - 70px)
}
.items .item .mini-item .txt .name {
    width:calc(100% - 20px);
    display:block;
    white-space: nowrap;
    line-height: 1.5;
}
.items .item .mini-item .txt .price {
    font-size:14px
}
.items .item .mini-item img{
    width: 55px;
    height: 55px;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
    object-fit: cover;    
}
.items .item .mini-item .name {
    font-size:12px
}
.main-slide {
    margin-bottom:50px;
}
.main-slide img{
    width:100%;
}
.items {
    align-items: flex-start;
    gap:60px;
}
.items .item {
    width:232px;
}
.items .item .img-box {
    margin-bottom:15px
}
.items .item img {
    width:100%;
    border-radius:20px;
}
.items .item .name {
    width:100%;
    font-family:'Open Sans';
    font-size:16px;
    font-weight:normal;
    margin-bottom:10px;
    color:#202020;
    line-height:24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.items .item .price {
    font-weight: 800;
    font-size: 20px;
    color:#202020;
}
.items .item .best {
    display:none
}
.review {
    width:100%;
}
.review .top img{
    width:50%
}
.review .bottom {
    background: #3f94a5;
    justify-content: center;
    padding:15px 0
}
.review .bottom p {
    color:#fff;
    padding-right:20px
}
.review .bottom a {
    color:#fff
}
.btn-insta {
    width:100%; 
    margin:50px 0;
    text-align: center;
}
.btn-insta a{
    width:350px;
    justify-content:center;
    padding:15px 50px;
    border-radius:20px;
    margin:0 auto; 
    border:1px solid #ccc
}
.btn-insta a img {
    width:30px; 
    height:30px;
    margin-right:10px
}
.carousel__item {
    height:540px
}
.carousel__slide {
    height:100%; 
    background-size:contain;
    border-radius:20px;
    margin-bottom:20px
}
.carousel__prev, .carousel__next {
    width:50px;
    height:50px;
    background: #aaa;
}
.carousel__pagination-button{
    background: #aaa;
}
.carousel__pagination-button--active {
    background:#555;
}
.carousel__prev svg, .carousel__next svg {
    width:40px; 
    height:40px
}
.carousel__slide:nth-child(1) {
    background: url(https://mall-image.tving.com/media/image/default/2021/11/a5f2d918f2ef870482d52dd106eb0a18.jpg);
}
.carousel__slide:nth-child(2) {
    background: url(https://mall-image.tving.com/media/image/default/2021/12/cbebbe1c4ddeb4e50bdee08b1a2d6b9d.jpg);
}
.carousel__slide:nth-child(3) {
    background: url(https://mall-image.tving.com/media/image/default/2021/12/cad12eb50288ca10f2f4069f466d173f.jpg);
}
.carousel__slide:nth-child(4) {
    background: url(https://mall-image.tving.com/media/image/default/2021/11/f827a6fe80ed41f8832438c6653e9a14.jpg);
}
.carousel__slide:nth-child(5) {
    background: url(https://mall-image.tving.com/media/image/default/2021/11/b02fbb9787d78cd0b8517db1bde99ac7.jpg);
}
.carousel__slide:nth-child(6) {
    background: url(https://mall-image.tving.com/media/image/default/2021/11/ed174c222b8165eb50e72ac2d547788d.jpg);
}
.carousel__slide:nth-child(7) {
    background: url(https://mall-image.tving.com/media/image/default/2021/11/87fd21c66879b037aab0cb4ea7c91e19.jpg);
}
.carousel__slide:nth-child(8) {
    background: url(https://mall-image.tving.com/media/image/default/2021/10/0509f3b39b148a914ead45126650ecac.jpg);
}
.carousel__slide:nth-child(9) {
    background: url(https://mall-image.tving.com/media/image/default/2021/10/1c7b636942ae13dae26323d4b302375a.jpg);
}
.carousel__slide:nth-child(10) {
    background: url(https://mall-image.tving.com/media/image/default/2021/09/f1f398019f006ba53d3537324c5ae0cb.jpg);
}
